In [2]:
import pandas as pd
import numpy as np

In [3]:
df_polluted = pd.read_csv('ficheros/most-polluted-countries.csv')

In [4]:
df_polluted.shape

(96, 12)

Columnas a eliminar: 

 - pollution_density_per_Mile: La eliminamos ya que tenemos una columna igual pero en km
 -ccn3

In [5]:
df_polluted.head(5)

#land area in km: Son los km2 del area de tierra sin contar superficies de masas de aguas interiores (rios)

#En el dataframe, la columna "ccn3" hace referencia al código numérico de país según la clasificación estándar
# ISO 3166-1 alfa-3. Cada país tiene asignado un código único de tres letras que se utiliza para identificarlo de 
#manera global en diversas aplicaciones, incluyendo el análisis de datos y la generación de informes.

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,1428627663,0.00808,India,356,Asia,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08
1,1425671352,-0.00015,China,156,Asia,True,9424702.9,151.2696,391.7884,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",2,39.12
2,339996563,0.00505,United States,840,North America,True,9147420.0,37.1686,96.2666,"CAN, MEX",3,9.04
3,277534122,0.00738,Indonesia,360,Asia,True,1877519.0,147.8196,382.8528,"TLS, MYS, PNG",4,51.71
4,240485658,0.01976,Pakistan,586,Asia,True,770880.0,311.9625,807.9829,"AFG, CHN, IND, IRN",5,65.81

In [10]:
df_polluted.groupby('country_region')['country_name'].count()

country_region
Africa            9
Asia             37
Europe           35
North America     7
Oceania           2
South America     6
Name: country_name, dtype: int64