In [1]:
import pandas as pd
import numpy as np

In [2]:
df_polluted = pd.read_csv('ficheros/most-polluted-countries.csv')

In [3]:
df_polluted.shape

(96, 12)

Columnas a eliminar: 

 - pollution_density_per_Mile: La eliminamos ya que tenemos una columna igual pero en km
 -ccn3

In [5]:
df_polluted.head(5)

#land area in km: Son los km2 del area de tierra sin contar superficies de masas de aguas interiores (rios)

#En el dataframe, la columna "ccn3" hace referencia al código numérico de país según la clasificación estándar
# ISO 3166-1 alfa-3. Cada país tiene asignado un código único de tres letras que se utiliza para identificarlo de 
#manera global en diversas aplicaciones, incluyendo el análisis de datos y la generación de informes.

,pollution_2023,pollution_growth_Rate,country_name,ccn3,country_region,united_nation_Member,country_land_Area_in_Km,pollution_density_in_km,pollution_density_per_Mile,share_borders,pollution_Rank,mostPollutedCountries_particlePollution
0,1428627663,0.00808,India,356,Asia,True,2973190.0,480.5033,1244.5036,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",1,58.08
1,1425671352,-0.00015,China,156,Asia,True,9424702.9,151.2696,391.7884,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",2,39.12
2,339996563,0.00505,United States,840,North America,True,9147420.0,37.1686,96.2666,"CAN, MEX",3,9.04
3,277534122,0.00738,Indonesia,360,Asia,True,1877519.0,147.8196,382.8528,"TLS, MYS, PNG",4,51.71
4,240485658,0.01976,Pakistan,586,Asia,True,770880.0,311.9625,807.9829,"AFG, CHN, IND, IRN",5,65.81

In [10]:
df_polluted.groupby('country_region')['country_name'].count()

country_region
Africa            9
Asia             37
Europe           35
North America     7
Oceania           2
South America     6
Name: country_name, dtype: int64

In [4]:
df_pol_2 = pd.read_csv('ficheros/air_pollution.csv', index_col=0)

In [7]:
df_pol_2.head(30)

                  country  2017  2018  2019  2020  2021  2022  2023
city
Kabul         Afghanistan   NaN  61.8  58.8  46.5  37.5  17.1  18.1
Tirana            Albania   NaN   NaN   NaN  16.0  12.5  14.5  14.4
Algiers           Algeria   NaN   NaN  21.2  20.2  20.0  17.8  17.4
Ordino            Andorra   NaN   NaN   NaN   7.4   7.3   5.4   5.3
Luanda             Angola   NaN   NaN  15.9  13.0  11.0   8.8   8.7
Buenos Aires    Argentina   NaN   NaN  12.4  14.2  13.6  14.2  14.2
Cordoba         Argentina   NaN   NaN   NaN   NaN  10.3   8.7   8.7
General Pico    Argentina   NaN   NaN   NaN   NaN   7.1   7.2   7.2
Mendoza         Argentina   NaN   NaN   NaN   NaN   9.3   8.2   8.2
Rafaela         Argentina   NaN   NaN   NaN   NaN  10.4  10.7  10.7
Rosario         Argentina   NaN   NaN   NaN   NaN   5.3   5.8   5.8
Yeghegnavan       Armenia   NaN   NaN  31.8  26.6  36.7  28.4  28.3
Yerevan           Armenia   NaN   NaN  25.5  24.9  33.9  31.4  31.5
Adelaide        Australia   NaN   6.5   5.9   5.6   5.1   3.7   3.6
Albury          Australia   7.3   7.3  11.0  17.3  11.3   6.9   6.9
Armidale        Australia   NaN   NaN  23.0  11.4  11.4   7.3   7.1
Ballina         Australia   NaN   NaN   NaN   NaN   5.0   3.0   2.9
Bathurst        Australia   6.1   7.0  13.1   8.7  10.3   4.6   4.6
Berala          Australia   NaN   NaN   NaN   NaN   7.2   5.6   5.6
Beresfield      Australia   7.6   8.7  13.6  10.6  10.2   5.4   5.4
Blackwater      Australia   NaN   NaN   NaN   5.1   4.7   4.5   4.5
Boat Creek      Australia   5.1   5.5   7.8   5.8   5.0   5.1   5.1
Boyne Island    Australia   NaN   NaN   NaN   4.9   4.7   5.1   5.2
Bream Creak     Australia   2.5   4.4   4.3   4.0   3.0   3.3   3.3
Brewarrina      Australia   NaN   NaN   NaN   2.9   1.7   1.8   1.8
Brighton        Australia   NaN   NaN   NaN   NaN   2.4   2.9   2.9
Brisbane        Australia   6.4   7.2   8.1   6.7   5.5   3.5   3.5
Broken Hill     Australia   NaN   NaN   NaN   2.5   1.5   1.5   1.5
Bunbury         Australia   NaN  10.1   8.9   NaN   2.5   3.9   3.4
Bundaberg       Australia   NaN   NaN   NaN   NaN   4.4   3.1   3.1